*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* color: #fff; */
}
.top{
    /* margin: 50px  0 00 0;  */
    background-image: url(main].jpg);
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    width: 100%;
    height: 100vh; 
    padding: 20px 0;
    color: #fff;
}


.form{
    background-color: rgba(222, 184, 135, 0.286);
    width: 600px;
    padding: 30px 40px 30px 40px;
    margin: auto    ;
    border: solid gray;
    border-radius: 15px;
    box-shadow: 5px 5px 5px rgba(128, 128, 128, 0.488);
}
input{
    padding: 9px 80px 9px 5px;
    margin-bottom: 20px;
    width: 100%;
}
button{
    background-color: #fff;
    width: 40%;
    padding: 7px 0;
    border-radius: 10px;
    border: solid red;
    margin-left: 162px;
    color: black;

}
.main{
    /* padding-top: 17px; */
}
.min{
    padding-bottom: 10px;
}
.form h1{
    padding: 20px 217px;
    color: #fff;
}
#City{
    padding: 5px ;
    margin: 10px 0;
    width: 100%;
}
#country{
    padding: 5px ;
    margin: 10px 0;
    width: 100%;
}
.jatin{
    width: 10%;
}